In [1]:
import pandas as pd

In [3]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [9]:
# pd.concat Method
# ignore_index=True resets indexes so there are no duplicates
pd.concat(objs = [week1, week2], ignore_index=True)
# Can also do this by appending on week1
week1.append(other = week2, ignore_index=True)

# To create a MultiIndex with a new and the original index, use keys
pd.concat(objs=[week1, week2], keys=["Week 1", "Week 2"])

Output = False

In [13]:
# inner joins with .merge()
week1.merge(week2, how="inner", on="Customer ID", suffixes=("_WK1", "_WK2"))

# use a list in the on to merge on multiple values
week1.merge(week2, how="inner", on=["Customer ID", "Food ID"])

Output = False

In [19]:
# outer joins
week1.merge(week2, how="outer", on="Customer ID", suffixes=(" - Week 1", " - Week 2"))

# Set indicator=True to know where the rows got data
merged = week1.merge(week2, how="outer", on="Customer ID", suffixes=(" - Week 1", " - Week 2"), indicator=True)
merged["_merge"].value_counts()

merged[merged["_merge"].isin(["left_only", "right_only"])]

Output = False

In [22]:
# left joins
left = week1.merge(foods, how="left", on="Food ID", sort=True)

In [26]:
# left_on and right_on when the joining keys don't share a name
# drop can delete labels
week1.merge(customers, how="left", left_on="Customer ID", right_on="ID", sort=True).drop("ID", axis = "columns")

Output = False

In [32]:
# left_index and right_index when the joining keys are the indexes
# customers.set_index("ID", inplace=True)
# foods.set_index("Food ID", inplace=True)
sales = week1.merge(customers, how="left", left_on="Customer ID", right_index=True)
sales = sales.merge(foods, how="left", left_on="Food ID", right_index=True)

In [34]:
# the .join() Method to concatenate vertically
satisfaction = pd.read_csv("Restaurant - Week 1 Satisfaction.csv")
# To merge
week1.merge(satisfaction, how="left", left_index = True, right_index=True)
# Using the join is shorter however when both indexes are shared
week1.join(satisfaction)

Output = False

In [36]:
# The pd.merge() Method is the same with different syntax
# foods.reset_index(inplace=True)
pd.merge(week1, foods, how="left", left_on="Food ID", right_on="Food ID")

     Customer ID  Food ID   Food Item  Price
0            537        9       Donut   0.99
1             97        4  Quesadilla   4.25
2            658        1       Sushi   3.99
3            202        2     Burrito   9.99
4            155        9       Donut   0.99
..           ...      ...         ...    ...
245          413        9       Donut   0.99
246          926        6       Pasta  13.99
247          134        3        Taco   2.99
248          396        6       Pasta  13.99
249          535       10       Drink   1.75

[250 rows x 4 columns]