In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("employees.csv")

# To pull in Start Date and Last Login Time as date from the beginning 
# df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         933 non-null    object
 1   Gender             855 non-null    object
 2   Start Date         1000 non-null   object
 3   Last Login Time    1000 non-null   object
 4   Salary             1000 non-null   int64
 5   Bonus %            1000 non-null   float64
 6   Senior Management  933 non-null    object
 7   Team               957 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [8]:
df["Start Date"] = pd.to_datetime(df["Start Date"])

In [11]:
df["Last Login Time"] = pd.to_datetime(df["Last Login Time"])

In [13]:
df["Senior Management"] = df["Senior Management"].astype("bool")

In [14]:
df["Gender"] = df["Gender"].astype("category")

In [16]:
# Save dfOriginal so future edits don't impact it
dfOriginal = df

In [21]:
# Compare elements in a series to a single value
df["Gender"] == "Male"

# To pull only Male gender from a DF
df[df["Gender"] == "Male"]

# To pull all finance members
df[df["Team"] == "Finance"]

Output = False

In [23]:
# Two step filtering technique
mask = df["Team"] == "Finance"
df[mask]

Output = False

In [35]:
# Filter a DF using more than one condition

# Find all males in marketing team
mask1 = df["Gender"] == "Male"
mask2 = df["Team"] == "Marketing"
df[mask1 & mask2]

# Final Senior Management or Start Date < 1990
mask3 = df["Senior Management"]
mask4 = df["Start Date"] < "1990-01-01"
df[mask3 | mask4]


# Name of Robert & Client Services OR Start Date >= 2016-06-01
mask5 = df["First Name"] == "Robert"
mask6 = df["Team"] == "Client Services"
mask7 = df["Start Date"] >= "2016-06-01"
df[(mask5 & mask6) | mask7]

Output = False

In [38]:
# Check for multiple values in a DF using .isin() Method

# Find all rows where Team in Legal, Sales, Product
df[df["Team"].isin(["Legal", "Sales", "Product"])]

Output = False

In [42]:
# Check for nulls in a DF using .isnull() and .notnull() Methods

# Find all nulls in Team
df[df["Team"].isnull()]

# Find all non nulls in Team
df[df["Team"].notnull()]

Output = False

In [49]:
# Check for ranges in a DF using the .between() Method

# Find all with salary between 60,000 and 70,000
df[df["Salary"].between(60000, 70000)]

# Find all with bonus between 2 and 5
df[df["Bonus %"].between(2.0, 5.0)]

# Find all with Start Date between 1990 and 2000
df[df["Start Date"].between("1990-01-01", "2000-01-01")]

# Find all with Last Login Time between 8:30 and Noon
df[df["Last Login Time"].between("8:30 AM", "12:00 PM")]

Output = False

In [58]:
# Check for duplicate rows in a DF using .duplicated() Method

df.sort_values("First Name", inplace = True)
df[["First Name", "Team"]].duplicated()
# Set keep = "last" if you want to save the last occurance not the first
df[["First Name", "Team"]].duplicated(keep = "last")
# Set keep = False if you want to set all instances of a duplicate as duplicated
df[["First Name", "Team"]].duplicated(keep = False)

# Find all unique first names
df[~df["First Name"].duplicated(keep = False)]

Output = False

In [65]:
# Eliminate duplicates in a DF using .drop_duplicates() Method
# .drop_duplicates() can be run on a df not just a series like .duplicated()
df = dfOriginal

# Run with empty () to drop all rows with identical values
df.drop_duplicates(inplace = True)

# delete duplicates of name and team
df.drop_duplicates(subset = ["First Name", "Team"], keep = "first", inplace = True)

In [70]:
# Find unique and number of unique values in DF using .unique() and .nunique() Methods

df = dfOriginal

# Find unique values for Gender
df["Gender"].unique()

# Find number of unique teams in DF
df["Team"].nunique()
# Set dropna = False to counts NULLs as well
df["Team"].nunique(dropna = False)

Output = False