In [2]:
import pandas as pd

In [41]:
df = pd.read_csv("chicago.csv")

In [42]:
df["Department"] = df["Department"].astype("category")

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32063 entries, 0 to 32062
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    32062 non-null  object
 1   Position Title          32062 non-null  object
 2   Department              32062 non-null  category
 3   Employee Annual Salary  32062 non-null  object
dtypes: category(1), object(3)
memory usage: 784.4+ KB

In [44]:
df.dropna(how="all", inplace=True)

In [45]:
# .lower(), .upper(), .title(), and .len()
# must prefix with .str
df["Department"].str.lower()
df["Department"].str.upper()
df["Department"] = df["Department"].str.title()
df["Position Title"] = df["Position Title"].str.title()
df["Department"].str.len()

Output = False

In [46]:
# str.replace()
df["Employee Annual Salary"] = df["Employee Annual Salary"].str.replace("$", "").str.replace(",", "").astype("float")
df["Department"] = df["Department"].str.replace("Mgmnt", "Management")
df["Position Title"] = df["Position Title"].str.replace("Ii", "II").str.replace("IIi", "III").str.replace("Iv", "IV")

In [57]:
# filtering with string methods
# contains
df[df["Position Title"].str.lower().str.contains("water")]
# startswith
df[df["Position Title"].str.lower().str.startswith("water")]
# endswith
df[df["Position Title"].str.lower().str.endswith("iv")]

Output = False

In [60]:
# .strip(), .rstrip(), .lstrip() Methods
df["Name"] = df["Name"].str.strip()
df["Position Title"] = df["Position Title"].str.strip()
df["Department"] = df["Department"].str.strip()

In [61]:
df.set_index("Name", inplace=True)

In [63]:
# String methods on indexes
df.index = df.index.str.strip().str.title()

In [66]:
# String methods on columns
df.columns = df.columns.str.upper()

In [78]:
# .str.split() Method
# df.reset_index(inplace=True)

# .get() pulls the column and the index position given
# Pull count of last names
df["Name"].str.split(",").str.get(0).value_counts()
# Pull count of first word in title
df["POSITION TITLE"].str.split(" ").str.get(0).str.split("-").str.get(0).value_counts()

Output = False

In [81]:
# Get most common first name
# Split by comma and get second elemnet, then strip white spaces, then split by space, then .get() the first element as first name
df["Name"].str.split(",").str.get(1).str.strip().str.split(" ").str.get(0).value_counts()

Output = False

In [87]:
# expand and n Parameters of the str.split() Method
# expand=True returns a DF of split results
nameDF = df.copy()
nameDF[["Last Name", "First Name"]] = nameDF["Name"].str.split(",", expand=True)

# n limits the amount of times split works. setting to 1 gives one split (2 elements)
nameDF["POSITION TITLE"].str.split(" ", expand=True, n=1)

Output = False